# Исследование надежности заемщиков

**Описание проекта**

Заказчик — кредитный отдел банка. Нужно разобраться, влияет ли семейное положение и количество детей клиента на факт погашения кредита в срок. Входные данные от банка — статистика о платёжеспособности клиентов.
Результаты исследования будут учтены при построении модели кредитного скоринга — специальной системы, которая оценивает способность потенциального заёмщика вернуть кредит банку.

**Данные для исследования** - статистика о платёжеспособности клиентов.

**Цель исследования определить, влияют ли на погашение кредита в срок следующие факторы:**

- Семейное положение клиента
- Количество детей у клиента

**Дополнительные гипотезы, установленные в ходе исследования:**

- Есть ли зависимость между количеством детей и возвратом кредита в срок?
- Есть ли зависимость между семейным положением и возвратом кредита в срок?
- Есть ли зависимость между уровнем дохода и возвратом кредита в срок?
- Как разные цели кредита влияют на его возврат в срок?
- Приведите возможные причины появления пропусков в исходных данных.
- Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.

**Ход исследования:**

- Изучение полученных данных
- Предобработка данных
- Проверка гипотез и выводы
- Итоги исследования

## Откройте таблицу и изучите общую информацию о данных

In [1]:
# Импортируем библиотеку pandas. Считаем данные из csv-файла в датафрейм и сохраним в переменную `data`
import pandas as pd

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

In [2]:
# Выведим первые 20 строчек
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

In [3]:
# Выведим основную информацию о датафрейме с помощью метода info()
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

In [4]:
# Выведим количество пропущенных значений для каждого столбца
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

In [5]:
# Заполним пропуски в столбце медианным значением
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

In [6]:
#  Заполним пропуски в столбце days_employed медианными значениями по каждого типа занятости income_type
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

In [7]:
# Убедимся , что все пропуски заполнены
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Обработка аномальных значений

In [8]:
# Обработаем значения в столбце: заменим все отрицательные значения положительными с помощью метода abs()
data['days_employed'] = data['days_employed'].abs()

In [9]:
# Выведим медианное значение трудового стажа days_employed в днях
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть.

In [10]:
# Выведим перечень уникальных значений столбца children
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5], dtype=int64)

In [11]:
# Удалим строки, в которых встречаются аномальные значения
data = data[(data['children'] != -1) & (data['children'] != 20)]

In [12]:
# Выведим перечень уникальных значений столбца children, чтобы убедиться, что артефакты удалены
data['children'].unique()

array([1, 0, 3, 2, 4, 5], dtype=int64)

### Изменение типов данных

In [13]:
# Заменим вещественный тип данных в столбце total_income
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

In [14]:
# Обработаем неявные дубликаты в столбце education
data['education'] = data['education'].str.lower()

In [15]:
# Выведим на экран количество строк-дубликатов в данных
data.duplicated().sum()

71

In [16]:
# Удалим дубликаты
data = data.drop_duplicates()

### Категоризация данных

In [17]:
pd.qcut(data['total_income'], q=5)

0        (214604.0, 2265604.0]
1          (98514.0, 132113.0]
2         (132113.0, 161380.0]
3        (214604.0, 2265604.0]
4         (132113.0, 161380.0]
                 ...
21520    (214604.0, 2265604.0]
21521     (132113.0, 161380.0]
21522     (20666.999, 98514.0]
21523    (214604.0, 2265604.0]
21524     (20666.999, 98514.0]
Name: total_income, Length: 21331, dtype: category
Categories (5, interval[float64, right]): [(20666.999, 98514.0] < (98514.0, 132113.0] < (132113.0, 161380.0] < (161380.0, 214604.0] < (214604.0, 2265604.0]]

In [18]:
# Создадим в датафрейме столбец total_income_category с категориями
def categorize_income(income):
    try:
        if 0 <= income <= 98514:
            return 'E'
        elif income <= 132113:
            return 'D'
        elif income <= 161380:
            return 'C'
        elif income <= 214604:
            return 'B'
        else:
            return 'A'
    except:
        pass
    
data['total_income_category'] = data['total_income'].apply(categorize_income)

In [19]:
# Выведим на экран перечень уникальных целей взятия кредита из столбца purpose
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

Создадим функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

 - `'операции с автомобилем'`,
 - `'операции с недвижимостью'`,
 - `'проведение свадьбы'`,
 - `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используем собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучим данные в столбце `purpose` и определим, какие подстроки помогут нам правильно определить категорию.**

In [20]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'
    
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

## Исследование данных и проверка гипотез

### Есть ли зависимость между количеством детей и возвратом кредита в срок?

In [21]:
debt_from_children = pd.DataFrame()
debt_from_children['count_children'] = data.groupby('children')['debt'].count()
debt_from_children['sum_children'] = data.groupby('children')['debt'].sum()
debt_from_children['result_children'] = round(debt_from_children['sum_children'] / debt_from_children['count_children'],2) 
debt_from_children.sort_values('result_children', ascending = False)

          count_children  sum_children  result_children
children
4                     41             4             0.10
1                   4808           444             0.09
2                   2052           194             0.09
0                  14091          1063             0.08
3                    330            27             0.08
5                      9             0             0.00

**Вывод:** С увеличением количества детей мы видим увеличение количества просроченных задолженностей, хотя люди с 3 детьми чаще платят в срок чем люди с 1 ребенком. Данные не однозначные, возможно, нужна большая выборка, чем та, которую мы имеем. Бездетные, как правило реже просрачивают оплату по кредиту, чем люди с детьми.

### Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [22]:
debt_from_family_status = pd.DataFrame()
debt_from_family_status['sum_family_status'] = data.groupby('family_status')['debt'].sum()
debt_from_family_status['count_family_status'] = data.groupby('family_status')['debt'].count()
debt_from_family_status['result_family_status'] = round(debt_from_family_status['sum_family_status'] 
                                                        / debt_from_family_status['count_family_status'],2)
debt_from_family_status.sort_values('result_family_status', ascending = False)

,sum_family_status,count_family_status,result_family_status
family_status,,,
Не женат / не замужем,273,2796,0.10
гражданский брак,385,4134,0.09
женат / замужем,927,12261,0.08
в разводе,84,1189,0.07
вдовец / вдова,63,951,0.07

**Вывод:** Да, зависимость есть. Люди не в браке и не бывавшие в браке имеют больший процент невозвратов в срок. Но, те кто развелись или овдовели чаще платят в срок, чем люди в браке.

### Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [23]:
debt_from_total_income = pd.DataFrame()
debt_from_total_income['sum'] = data.groupby('total_income_category')['debt'].sum()
debt_from_total_income['count'] = data.groupby('total_income_category')['debt'].count()
debt_from_total_income['conversion'] = round(debt_from_total_income['sum'] / debt_from_total_income['count'],2)
debt_from_total_income.sort_values('conversion', ascending = False)

                       sum  count  conversion
total_income_category
C                      373   4266        0.09
B                      358   4266        0.08
D                      358   4266        0.08
E                      344   4267        0.08
A                      299   4266        0.07

**Вывод:** В целом мы видим, что меньше всего просрочка у людей с уровнем дохота больше 214 т.р., но доход людей от 132 до 
161 т.р. имеют большой процент невозвратов в срок.

### Как разные цели кредита влияют на его возврат в срок?

In [24]:
debt_from_purpose_category = pd.DataFrame()
debt_from_purpose_category['sum_purpose_category'] = data.groupby('purpose_category')['debt'].sum()
debt_from_purpose_category['count_purpose_category'] = data.groupby('purpose_category')['debt'].count()
debt_from_purpose_category['result_purpose_category'] = round(debt_from_purpose_category['sum_purpose_category'] /
                                                              debt_from_purpose_category['count_purpose_category'],2) 
debt_from_purpose_category.sort_values('result_purpose_category', ascending = False)

,sum_purpose_category,count_purpose_category,result_purpose_category
purpose_category,,,
операции с автомобилем,400,4279,0.09
получение образования,369,3988,0.09
проведение свадьбы,183,2313,0.08
операции с недвижимостью,780,10751,0.07

**Вывод:** Как мы видим, среди 4 наших категорий, чаще всего платят в срок с целью кредита недвижимость, чаще просрочка у тех кому нужен кредит на авто и образование. Кредиты на свадьбу просрачивают реже - примерно как и в случае недвижимости.

### Приведите возможные причины появления пропусков в исходных данных.

**Ответ:** Думаю, что тут две причины: человеческий и технический фактор

### Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.

**Ответ:** Медиана - это робастная характеристика, которая игнорирует или же сглаживает случайные или не случайные выбросы и катаклизмы в целом. И если данные имеют нормальное распределение и их количество велико, то медиана будет равняться среднему значению.

## Общий вывод.

  
***В ходе проекта мы исследовали надежность заемщиков. Провели и установили зависимость четырех основных показателей на факт погашения кредита в срок :***
    
###### 1 Зависимость между количеством детей и возвратом кредита в срок
Данные будем сравнивать с результатами кредиторов без детей, с одним и двумя детьми. И исходя из значений - самые ответственные заемщики - это кредиторы без детей. А 1-2 детные - возвращают кредиты хуже всех. Есть сильная зависимость между возвратами кредитов и количеством детей у кредиторов.
    
###### 2 Зависимость между семейным положением и возвратом кредита в срок
По результатам исследования полученные данные можно разделить на две группы, кредитор в официальном браке и нет (развод/е, вдова/ец, гражданский брак, не женат/замужем). Кредиторы в браке с большей вероятностью вернут долг в срок.
    
###### 3 Зависимость между уровнем дохода и возвратом кредита в срок
В целом мы видим, что меньше всего просрочка у людей с уровнем дохота больше 214 т.р., но доход людей от 132 до 
161 т.р. имеют большой процент невозвратов в срок.
    
###### 4 Зависимость между разными целями кредита и его возврат в срок
Судя по данным, просрочки больше у тех, кто берет кредит на операции с автомобилем и образованием. А меньше у тех, кто берет кредит на операции с автомобилем и для свадьбы. Причина, возможно, в том, что недвижимость на период возврата долга находится у банка в залоге, поэтому и подход у кредиторов к таким кредитам ответственнее.

**Идеальный кредитор:** Идеальный кредитор для банка, это клиент с доходом категории В, в браке, без детей и его целью будет - покупка недвижимости.

**Совет для банка:** при выдаче кредитов прислушиваться к результатам аналитики.